<h2>Testtömegindex számítás</h2>

<form action="calc.php" method="get">
    <div>
        <label for="Testtomeg" class="form-label">Testtomeg</label>
        <input type="text" name="Testtomeg" id="Testtomeg"
        class="form-control">
    </div>
    <div>
        <label for="Magassag" class="form-label">Magassag</label>
        <input type="text" name="Magassag" id="Magassag"
        class="form-control">
    </div>
    <button type="submit"
    class="btn btn-primary mt-3">Számít</button>
</form>